# Blue Service
apiVersion: v1
kind: Service
metadata:
  name: blue-service
  namespace: blue
  labels:
    app: blue-service
spec:
  type: ClusterIP
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app: blue-service
