server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: blue-service
          uri: http://localhost:8081
          predicates:
            - Path=/greeting
            - Weight=greeting-group, 2

        - id: green-service
          uri: http://localhost:8082
          predicates:
            - Path=/greeting
            - Weight=greeting-group, 8

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true

logging:
  level:
    org.springframework.cloud.gateway: INFO
