# Green Service
apiVersion: v1
kind: Service
metadata:
  name: green-service
  namespace: green
  labels:
    app: green-service
spec:
  type: ClusterIP
  ports:
    - port: 8082
      targetPort: 8082
      protocol: TCP
      name: http
  selector:
    app: green-service
